#chat,
#messages {
  width: 300px
}
#chat {
  position: relative;
  border: 1px solid #ccc;
}
#messages {
  height: 100%;
  background: #eee;
}
#messages em {
  text-shadow: 0 1px 0 #fff;
  color: #999;
}
#messages p {
  padding: 0;
  margin: 0;
  font: 12px Helvetica, Arial;
  padding: 5px 10px;
}
#messages p b {
  display: inline-block;
  padding-right: 10px;
}
#messages p:nth-child(even) {
  background: #fafafa;
}
#messages #nicknames {
  background: #ccc;
  padding: 2px 4px 4px;
  font: 11px Helvetica;
}
#messages #nicknames span {
  color: #000;
}
#messages #nicknames b {
  display: inline-block;
  color: #fff;
  background: #999;
  padding: 3px 6px;
  margin-right: 5px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  text-shadow: 0 1px 0 #666;
}
#messages #lines {
  height: 100%;
  overflow: auto;
  overflow-x: hidden;
  overflow-y: auto;
}
#messages #lines::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
#messages #lines::-webkit-scrollbar-button:start:decrement,
#messages #lines ::-webkit-scrollbar-button:end:increment {
  display: block;
  height: 10px;
}
#messages #lines::-webkit-scrollbar-button:vertical:increment {
  background-color: #fff;
}
#messages #lines::-webkit-scrollbar-track-piece {
  background-color: #fff;
  -webkit-border-radius: 3px;
}
#messages #lines::-webkit-scrollbar-thumb:vertical {
  height: 50px;
  background-color: #ccc;
  -webkit-border-radius: 3px;
}
#messages #lines::-webkit-scrollbar-thumb:horizontal {
  width: 50px;
  background-color: #fff;
  -webkit-border-radius: 3px;
}